<template>
  <div class>
    <h1 class="h5">Center List *</h1>

    <div class="form-group">
      <select class="form-control" name="center_id" v-model="vueCenterId" @change="visiable()">
        <option value="0">Choose Center</option>
        <option :value="center.id" v-for="center in centers">{{center.center_name}}</option>
      </select>
    </div>

    <div v-for="center in customeItems" v-if="center.active" class="mb-3">
      <!-- <h3>{{center.center_name}}</h3> -->
      <h2 class="h5">Choose Rooms *</h2>
      <span v-for="room in rooms">
        <span v-if="room.center_id == center.id" class="d-inline mr-4">
          <input type="radio" name="room_id" :value="room.id" :id="room.id" />
          <label :for="room.id">{{room.room_name}}</label>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["centers", "rooms"],
  computed: {
    customeItems() {
      this.collapsibleItems = this.centers.map(center => {
        return {
          id: center.id,
          center_name: center.center_name,
          active: false
        };
      });
      return this.collapsibleItems;
    }
  },
  data() {
    return {
      hidden: false,
      vueCenterId: 0,
      collapsibleItems: []
    };
  },
  methods: {
    visiable() {
      this.collapsibleItems.forEach((item, ind) => {
        if (this.vueCenterId != item.id) {
          item.active = false;
        } else {
          item.active = true;
        }
      });
    }
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>

<style lang="stylus" scoped></style>