<template>
  <div class>
    <h1 class="h5">Edit Center List *</h1>

    <div class="form-group">
      <select class="form-control" name="center_id" v-model="vueCenterId" @change="visiable()">
        <option :value="center.id" v-for="center in centers">{{center.center_name}}</option>
      </select>
    </div>

    <div v-for="center in customeItems" v-if="center.active" class="mb-3">
      <!-- <h3>{{center.center_name}}</h3> -->
      <h2 class="h5">Choose Rooms *</h2>
      <span v-for="room in customeRooms">
        <span v-if="room.center_id == center.id" class="d-inline mr-4">
          <input type="radio" name="room_id" :value="room.id" :id="room.id" :checked="room.checked" />
          <label :for="room.id">{{room.room_name}}</label>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: ["centers", "rooms", "centerid", "roomid"],
  computed: {
    customeItems() {
      this.collapsibleItems = this.centers.map(center => {
        if (this.centerid != center.id) {
          return {
            id: center.id,
            center_name: center.center_name,
            active: false
          };
        } else {
          return {
            id: center.id,
            center_name: center.center_name,
            active: true
          };
        }
      });
      return this.collapsibleItems;
    },
    customeRooms() {
      this.collapsibleRooms = this.rooms.map(room => {
        if (this.roomid != room.id) {
          return {
            id: room.id,
            room_name: room.room_name,
            center_id: room.center_id,
            checked: false
          };
        } else {
          return {
            id: room.id,
            room_name: room.room_name,
            center_id: room.center_id,
            checked: true
          };
        }
      });
      return this.collapsibleRooms;
    }
  },
  data() {
    return {
      hidden: false,
      vueCenterId: this.centerid,
      collapsibleItems: [],
      collapsibleRooms: []
    };
  },
  methods: {
    visiable() {
      this.collapsibleItems.forEach((item, ind) => {
        if (this.vueCenterId != item.id) {
          item.active = false;
        } else {
          item.active = true;
        }
      });
    }
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>

<style lang="stylus" scoped></style>